<!DOCTYPE html>

<head>
    <script type="text/javascript">
    
    /*  <!--  $(document).ready(function() {
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(51.508742, -0.120850),
                    zoom: 5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        }
        })--!>*/
/*
   var map = new mapTools({
  id: 'mymap',
	lat: 41.3833,
	lng: 2.1833,
	type: 'ROADMAP',
  on: {
    zoom_changed: function() {
      console.log('the zoom level has changed!', map.zoom())
    }
  }
  }, function (err, map) {
	  console.log('Map Loaded!', map.instance);
  });*/
/*  var googleMapsClient = require('@google/maps').createClient({
  	id: 'mymap',
  key: 'AIzaSyBaAVvxZ1nf4_1FOjIPqUNgWXsP_SFtWaA'
});
  googleMapsClient.geocode({
  address: '1600 Amphitheatre Parkway, Mountain View, CA'
}, function(err, response) {
  if (!err) {
    console.log(response.json.results);
  }
});*/
 $(document).ready(function() {
  var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('mymap'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
  });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaAVvxZ1nf4_1FOjIPqUNgWXsP_SFtWaA&callback=initMap"></script>
</head>

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Contact us.</h1>

            </div><!-- /col-lg-6 -->
            <div class="col-lg-6">
                <img class="img-responsive" src="/images/dog1.png" alt="">
            </div><!-- /col-lg-6 -->

        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
    <div class="row mt centered">

    </div><!-- /row -->

    <div class="row mt centered">
        <div class="col-lg-4">
            <img src="images/ser01.png" width="180" alt="">
            <h4>1 - Browser Compatibility</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="images/ser02.png" width="180" alt="">
            <h4>2 - Email Campaigns</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="images/ser03.png" width="180" alt="">
            <h4>3 - Gather Your Notes</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

        </div><!--/col-lg-4 -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container">
    <hr>
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            
        </div>

    </div><!-- /row -->
    <div id="mymap" style="width:400px;height:400px;"></div>
</div><!-- /container -->









<div class="container">
	
<p>puieabciabncjias</p>


</div><!-- /container -->

</html>