<!DOCTYPE html>

<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 53.283277, lng: -9.064169};//53.283277, -9.064169
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBicnzRIcxbrp_QxBHSfRCdI1a1fj_B3mI&callback=initMap">
    </script>
<div class="row mt centered">
        <div class="col-lg-4">
            <img src="images/phone.png" width="180" alt="">
            <h4>Give us a Call</h4>
            <p>You can ring our local us at 086-555555<br>Or you can ring our local Madra center (091) 584 274</br>.</p>
        </div><!--/col-lg-4 -->

        <div class="col-lg-4">
            <img src="images/computer.png" width="180" alt="">
            <h4>Email Us</h4>
            <p>You can email us at Breeder@dogRus.com</p>


        </div><!--/col-lg-4 -->

        <div class="col-lg-4">

            <img src="images/talk.png" width="180" alt="">
            <h4>Bork</h4>
            <p>You can always pop in and talk to us direct at NUIG</p>

        </div><!--/col-lg-4 -->
    </div><!-- /row -->

  </body>
