<div class="well col-xs-6 col-xs-offset-3">
<div class="row col-xs-10 col-xs-offset-1">
<form class="form-horizontal" role="form" id="postForm">
<div class="row">
<div class="form-group">
<div class="col-xs-12">
<p></br></br></br></p>
<textarea class="form-control required" style="min-width: 100%" rows="3"
id="inputPost" placeholder="Got something to say?" maxlength="140"></textarea>
<label id="charRemaining" for="inputPost">140</label>
</div>
</div>
</div>
<div class="form-group">
<div class="col-xs-3">
<!--Camera-->
<i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i>
</div>
<div class="col-xs-3">
<!--Video-->
<i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
</div>
<div class="col-xs-3">
<i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>
</div>

<div class="col-xs-3">
<button type="text" class="btn btn-primary">Post</button>
</div>
<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">

</div>

</div>
</form>
</div>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
