<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Gallery:</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="/images/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="https://www.pets4homes.co.uk/images/breeds/6/1eca90f107f235e6e3ca0bd406048cc5.jpg" width="180" alt="">
				<h4>Daisy</h4>
				<p>Daisy is a 4 year old king charles spaniel, she is loving and great with children, very well trained, indoor dog. </p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="http://www.yourpurebredpuppy.com/dogbreeds/photos-EFGH/germanshepherdsf3.jpg" width="180" alt="">
				<h4>Milo</h4>
				<p>Milo is a 5 year old German Shepherd with a great personality, he is loyal and very protective, both great traits for puppies!</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/b/b9/German-Shepherd-Husky-Mix-7-640x385.jpg/revision/latest?cb=20170209153549" width="180" alt="">
				<h4>Tim</h4>
				<p>Tim is a 4 year old husky, he is a very intelligent dog and was easily trained to preform a variety of tricks!</p>
                
                <div class="col-lg-4">
				<img src="https://i.pinimg.com/originals/95/37/bb/9537bb1fa6a38b120277bb45a9400fe0.jpg" width="180" alt="">
				<h4>Billy</h4>
				<p>Billy is a playful 3 year old jack russel who loves kids and going on walks!</p>
                
                <div class="col-lg-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg" width="180" alt="">
				<h4>Sammy</h4>
				<p>Sammy is a very affectionate 6 year old labrador with a great personality.</p>
                
                <div class="col-lg-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Rottweiler_standing_facing_left.jpg" width="180" alt="">
				<h4>Spike</h4>
				<p>Spike is a rottwriler who is very well trained and very obedient, he just turned 5 and is showing no signs of slowing down.</p>
                
                <div class="col-lg-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Mops-duke-mopszucht-vom-maegdebrunnen.jpg" width="180" alt="">
				<h4>Buddy</h4>
				<p>Buddy is a fun loving 3 year old who is very and loving towards everyone he meets.</p>
                
                <div class="col-lg-4">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Full_attention_%288067543690%29.jpg/1200px-Full_attention_%288067543690%29.jpg" width="180" alt="">
				<h4>Max</h4>
				<p>Max is a very intelligent and obedient 7 year old poodle.</p>
                
                <div class="col-lg-4">
				<img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/bichon-frise-dog-breed-pictures/2-puppy.jpg" width="180" alt="">
				<h4>Ellie</h4>
				<p>Ellie is a 4 year old bichon frise with a big heart who shows affection to everyone she meets.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered"></p>
	</div><!-- /container -->