<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Welcome to Breeder!</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="/images/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>The simplest medium of<br/>finding a partner for your dog!</h1>
				<h3>Now with over 100,000 members</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&h=350" width="180" alt="">
				<h4>Simplicity</h4>
				<p>Our website is both easy to use and extremely effective at finding the right breeding partner for your dog.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="180" alt="">
				<h4>Choice</h4>
				<p>Choose from thousands of potential partners based on preferenced of your own choice..</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="https://images.pexels.com/photos/879788/pexels-photo-879788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="180" alt="">
				<h4>Flexibility</h4>
				<p>The price charged is chosen exclusively by the owner and we will never ask for a cent!</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Dogs and their owners cannot reccomend us enough...</h1>
				<h3>Here are some of our most positive reviews:</h3>
                
                <p>"At first I didn't think it would be such a good idea, but once I made an account and did some searching, I found that there was plenty of other dog owners just like me looking to either make some money or gain some puppies." - Margaret Co. Cork.</p>
                <p> "Excellent serivce" - John Co. Meath </p>
                <p> "Woof!" - Spot Co. Dublin </p>
                
			</div>
		</div><!-- /row -->
	
		
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="images/p01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="images/p02.png" alt="">
				    </div>
				    <div class="item">
				      <img src="images/p03.png" alt="">
				    </div>
				  </div>
				</div>			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div><! --/container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Hard Working Team<br/>of Canine Enthusists.</h1>
				<h3>We are working round the clock to ensure the highest quality to those who use our service.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="images/pic1.jpg" width="140" alt="">
				<h4>Enda Heverin</h4>
				<p>CEO.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/pic2.jpg" width="140" alt="">
				<h4>Rory Quinn</h4>
				<p>HR Manager</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/pic3.jpg" width="140" alt="">
				<h4>Daire Kennedy</h4>
				<p>Finance Manager</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
            
            <div class="col-lg-4">
				<img class="img-circle" src="images/pic3.jpg" width="140" alt="">
				<h4>Ronan Larkin</h4>
				<p>Dog Relations Adviser</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered"></p>
	</div><!-- /container -->