<div class="col-md-8 col-md-offset-2">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
		gapi.load('auth2', function() {
			gapi.auth2.init();
		});

    <h2>Login account</h2>
    <form class="form-horizontal" role="form" id="log-form">
        <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputUsername" class="control-label">Username</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputPassword" class="control-label">Password</label>
            </div>
            <div class="col-sm-9">
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="row col-sm-offset-2 col-sm-10 mt">
                <button type="submit" class="btn btn-warning btn-lg">Login Account</button>
            </div>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
			<div>
				<meta name="google-signin-scope" content="">
				<meta name="google-signin-client_id" content="618041269661-he4ru4jpkb5ungfbgtnf2f6tpb1htffs.apps.googleusercontent.com">
			</div>
			<script>
			function onSignIn(googleUser) {
        		// Useful data for your client-side scripts:
        		var profile = googleUser.getBasicProfile();
        		console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        		console.log('Full Name: ' + profile.getName());
        		console.log('Given Name: ' + profile.getGivenName());
        		console.log('Family Name: ' + profile.getFamilyName());
        		console.log("Image URL: " + profile.getImageUrl());
        		
        		// The ID token you need to pass to your backend:
        		var id_token = googleUser.getAuthResponse().id_token;
        		console.log("ID Token: " + id_token);
      		};
    		</script>


        </div>
    </form>
 

</div>

<div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  			function signOut() {
   			 var auth2 = gapi.auth2.getAuthInstance();
    			auth2.signOut().then(function () {
      			console.log('User signed out.');
    			});
  			}
		</script>
</div>
